#include <windows.h>

IDI_ICON1 ICON "packmanager.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "PackManager\0"
            VALUE "FileDescription", "PackManager SafeTensors Video Pack Manager\0"
            VALUE "FileVersion", "0.1.0\0"
            VALUE "InternalName", "PackManager\0"
            VALUE "OriginalFilename", "PackManager.exe\0"
            VALUE "ProductName", "PackManager\0"
            VALUE "ProductVersion", "0.1.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
